.custom-card {
    width: 90%;
    height: 80vh;
    border-radius: 20px;
    background-color: var(--card-primary-color);
    color: var(--text-primary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.info-section,
.actions-section {
    padding: 20px;
}

.action-button {
    width: 100%;
    margin-bottom: 10px;
}

@media (max-width: 576px) {
    div,.btn {
        font-size: 12px;
    }
}

@media (min-width: 768px) {
    div.btn {
        font-size: 16px; /* 在平板設備上稍大的文字大小 */
    }
}

@media (min-width: 992px) {
    div.btn {
        font-size: 14px; /* 在桌面設備上恢復到預設的文字大小 */
    }
}